a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  color:gray;
}

h3 {
  text-decoration: sans-serif;
  color:black;
  font-size: 25px;
}

#top {
  text-align: center;
  display:block;
}

#hd {
  font-family: Helvetica, sans-serif;
  color: black;
  width: 100%
  position: fixed;
}

#intro {
  font-family: Helvetica;
  color: gray;
  font-weight: lighter;
  font-style: italic;
}

#content {
  color: black;
  font-family: Helvetica;
  background: white;
  width:93%;
  margin-right: 20px;
  padding-left: 20px;
  margin-left: 20px;
  padding-right: 20px;
  border: 1px dotted lightgray;
}

#list a:hover {
  color:black;
}

#navbar {
  width: 100%
  display: inline-block;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#button a{
  font-weight: bolder;
  font-color: white;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  font: Helvetica, sans-serif;
  background: black;
  opacity: 0.1;
}

#button a:hover {
  opacity: 0.5;
}
