.main td a {
  text-decoration: none;
  font-family: 'Raleway';
  color:white;
  font-size: 2.5em;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px;
}

nav a {
  text-decoration: none;
  font-family: 'Raleway';
  color:white;
  font-size: 20px;
}

h3 {
  font-family: Helvetica;
  color:black;
  font-size: 25px;
}

header {
  text-align: center;
  display:block;
}

#hd {
  font-family: Helvetica, sans-serif;
  color: black;
  width: 100%
  position: fixed;
}

summary {
  font-family: Helvetica;
  color: gray;
  font-weight: lighter;
  font-style: italic;
}

p {
  width: 100%;
  padding: 20px;
}
section {
  color: black;
  font-family: serif;
  background: white;
  width:800px;
  display: block;
  float: center;
  margin: 0 auto;
}

table {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.main td {
  width: 30%;
  height: 300px;
  background:#A8A8A8;
  border-radius: 50%;
  text-align: center;
  transition: background .5s;
}

.button td {
  width: 20%;
  height: 50px;
  background:#A8A8A8;
  text-align: center;
}

.main td:hover {
  background: #00D6DD;
}


#list a:hover {
  color:black;
}

nav {
  width: 100%
  display: inline-block;
  text-align: center;
  vertical-align: text-bottom;
  margin-top: 3px;
  margin-bottom: 3px;
}

.button td {
  background: black;
  transition: background .5s;
}

td .button a{
  font-weight: bolder;
  font-color: white;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  font-family: 'Raleway';
}

.button td:hover {
  background: #A8A8A8;
}

table tr td:empty {
  width:10px;
  background-color: white;
}

table tr td:empty:hover {
  background-color: white;
}

@font-face {
  font-family: 'Raleway'
}

@media screen and (max-width: 600px) {
  body {
    font-size: .5em;
  }
  img {
    height: 10em;
  }
  td {
    height: 10em;
  }
}

nav {
  padding: 10px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: gray;
  background: #;
}

